.about-section {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  
    h2 {
      font-size: 28px;
      color: #333; // Color del título
      margin-bottom: 20px;
    }
  
    p {
      font-size: 16px;
      color: #666; // Color del texto principal
      line-height: 1.6;
      margin-bottom: 15px;
    }
  }