@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  &__logo {
   
    max-width: 100px; 
  
  }

  &__title {
    color: red; 
    margin: 0; 
    position: relative;
    left: -10px;
  }

  .navbar {
    

    &__menu {
      
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;

      &__item {
      
        margin-right: 10px;

        &--active {
        
          font-weight: bold;
        }

        a {
        
          text-decoration: none;
          color: black; 
        }

        &--cart {
          display: flex;
          align-items: center;
          background-color: red;
          span {
            font-size: 1.2rem; 
            cursor: pointer;
          }
        }
      }
      gap: 20px;
      .navbar__item--cart {
        margin-top: -2px;
        cursor: pointer;
      }
    }
  }
}
