.icon-dark-sun{
    position: relative;
    left: -10px;
    top: 2px;
  }
  .car{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5px;
    left: -15px;
  }